@import "./shared/values";
@import "./shared/mixins";
@import "./shared/reset";

@import "base";

// components
@import "./components/btns";
@import "./components/captions";
@import "./components/modals";
@import "./components/header";
@import "./components/footer";
@import "./components/burger";

// HOME PAGE
@import "blocks/home-page/grettings-main.scss";
@import "blocks/home-page/adv-main.scss";
@import "blocks/home-page/our-villages-main.scss";
@import "blocks/home-page/primer-houses.scss";
@import "blocks/home-page/completed-villages.scss";
@import "blocks/home-page/consul-section.scss";
@import "blocks/home-page/technologies.scss";
@import "blocks/home-page/reviews.scss";
@import "blocks/home-page/sertificate.scss";
@import "blocks/home-page/about-main.scss";
@import "blocks/home-page/partners-section.scss";
@import "blocks/home-page/faq-section.scss";

// VACANCY PAGE
@import "blocks/vacancy-page/vacancy.scss";

// BLOCKS
@import "blocks";

@import "custom";
