$fontMain: "Cygre";
$fontMontserrat: "Montserrat";

$colorWhite: rgba(255, 255, 255, 1);
$colorWhite-a1: rgba(255, 255, 255, 0.1);
$colorWhite-a2: rgba(255, 255, 255, 0.2);
$colorWhite-a3: rgba(255, 255, 255, 0.3);
$colorWhite-a4: rgba(255, 255, 255, 0.4);
$colorWhite-a5: rgba(255, 255, 255, 0.5);
$colorWhite-a6: rgba(255, 255, 255, 0.6);
$colorWhite-a7: rgba(255, 255, 255, 0.7);
$colorWhite-a8: rgba(255, 255, 255, 0.8);
$colorWhite-a9: rgba(255, 255, 255, 0.9);

$colorBlack: rgba(0, 0, 0, 1);
$colorBlack-a1: rgba(0, 0, 0, 0.1);
$colorBlack-a2: rgba(0, 0, 0, 0.2);
$colorBlack-a3: rgba(0, 0, 0, 0.3);
$colorBlack-a4: rgba(0, 0, 0, 0.4);
$colorBlack-a5: rgba(0, 0, 0, 0.5);
$colorBlack-a6: rgba(0, 0, 0, 0.6);
$colorBlack-a7: rgba(0, 0, 0, 0.7);
$colorBlack-a8: rgba(0, 0, 0, 0.8);
$colorBlack-a9: rgba(0, 0, 0, 0.9);

// colors site
$colorGray: #8e8e8e;
$colorGrayLight: #f8f8f8;
$colorYellow: #f59e11;
// /color site

$responsive1799: "1799px";
$responsive1699: "1699px";
$responsive1549: "1549px";
$responsive1439: "1439px";
$responsive1199: "1200px";
$responsive1023: "1023px";
$responsive767: "768px";
$responsive639: "639px";
$responsive479: "479px";
$responsive389: "389px";

// @media responsive

// min-width

@mixin responsiveMinWidth1920 {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin responsiveMinWidth1600 {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin responsiveMinWidth1280 {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin responsiveMinWidth481 {
  @media (min-width: 481px) {
    @content;
  }
}

@mixin responsiveMinWidth768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin responsiveMinWidth768 {
  @media (min-width: 768px) {
    @content;
  }
}

// /min-width

@mixin responsive1799 {
  @media (max-width: $responsive1799) {
    @content;
  }
}

@mixin responsive1699 {
  @media (max-width: $responsive1699) {
    @content;
  }
}

@mixin responsive1549 {
  @media (max-width: $responsive1549) {
    @content;
  }
}

@mixin responsive1439 {
  @media (max-width: $responsive1439) {
    @content;
  }
}

@mixin responsive1199 {
  @media (max-width: $responsive1199) {
    @content;
  }
}

@mixin responsive1023 {
  @media (max-width: $responsive1023) {
    @content;
  }
}

@mixin responsive767 {
  @media (max-width: $responsive767) {
    @content;
  }
}

@mixin responsive639 {
  @media (max-width: $responsive639) {
    @content;
  }
}

@mixin responsive479 {
  @media (max-width: $responsive479) {
    @content;
  }
}

@mixin responsive389 {
  @media (max-width: $responsive389) {
    @content;
  }
}
@mixin title {
  font-size: 35px;
  line-height: 42px;
  @media(max-width: 1200px){
    font-size: 25px;
    line-height: 32px;
  }
  @media(max-width: 768px){
    font-size: 16px;
    line-height: 21px;
  }
  @media(max-width: 639px){
    font-size: 25px;
    line-height: 31px;
  }
}
@mixin desc {
  font-size: 16px;
  line-height: 24px;
  @media(max-width: 1200px){
    font-size: 12px;
    line-height: 18px;
  }
  @media(max-width: 768px){
    font-size: 10px;
    line-height: 12px;
  }
  @media(max-width: 639px){
    font-size: 14px;
    line-height: 20px;
  }
}
@mixin radius{
  border-radius: 40px;
  @media(max-width: 1200px){
    border-radius: 30px;
  }
  @media(max-width: 768px){
    border-radius: 20px;
  }
  @media(max-width: 639px){
    border-radius: 25px;
  }
}
@mixin bigradius{
  border-radius: 60px;
  @include responsive1199{
    border-radius: 45px;
  }
  @include responsive767{
    border-radius: 30px;
  }
}
@mixin innerradius{
  border-radius: 40px;
  @media(max-width: 1200px){
    border-radius: 25px;
  }
  @media(max-width: 768px){
    border-radius: 15px;
  }
  @media(max-width: 639px){
    border-radius: 25px;
  }
}
@mixin textsmall{
  font-size: 14px;
  line-height: 18px;
  @include responsive1199{
    font-size: 12px;
    line-height: 14px;
  }
  @include responsive767{
    font-size: 9px;
    line-height: 13px;
  }
  @include responsive639{
    font-size: 14px;
    line-height: 18px;
  }
}
