.contacts-page {
  .caption {
    &--h2 {
      margin: 39px 0 73px;
    }
  }
  .page-content {
    padding: 0;
  }
  .contacts {
    &__information {
      padding: 66px 0 65px;
      background-color: #F8F8F8;
      border-radius: 60px;
      position: relative;
      z-index: 1;
      
    }
    &__wrapper {
      display: grid;
      width: 100%;
      grid-template-columns: calc((100% - 20px) / 12 * 6) calc(50dvw + 20px);
      & > :first-child {
        box-sizing: border-box;
        padding-right: 54px;
      }
      & > :last-child {
        picture {
          top: 0;
          width: 100%;
          height: 100%;
          left: 0;
          border-radius: 60px 0 0 60px;
          overflow: hidden;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }
        }
      }
    }
    &__item {
      position: relative;
    }
    &-data {
      background-color: white;
      box-sizing: border-box;
      border-radius: 50px;
      padding: 20px 20px 40px;
      position: relative;
      height: 100%;
      @include before {
        transition: all 0.3s;
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
        border-radius: 50px;
        user-select: none;
        pointer-events: none;
        mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        mask-composite: exclude;
        padding: 1px;
        }
    }
    &__head {
      box-sizing: border-box;
      padding-left: 35px;
      padding-right: 24px;
      margin-bottom: 17px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: 114px;
        min-width: 114px;
        height: 114px;
      }
    }
    &__basic {
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding: 57px 24px 38px;
      border-radius: 50px;
      background-color: #F8F8F8;
      margin-bottom: 30px;
      a {
        font-size: 45px;
        line-height: 1;
        white-space: pre;
        color: #000000;
        &:hover {
          color: #F59E11;
        }
      }
    }

    &__info {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 10px));
      grid-column-gap: 20px;
      width: 100%;
      &-item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      & > :first-child {
        padding-left: 35px;
      }
      & > :last-child {
        padding-left: 42px;
      }
      &-title {
        font-size: 25px;
        font-weight: 400;
        color: #000;
        margin-bottom: 20px;
        line-height: 32px;
      }
      &-location {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #8E8E8E;
        margin-bottom: 30px;
      }
    }
    &__location-schedule {
      margin-top: auto;
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      color: #000;
      span {
        color: #8E8E8E;
      }
    }
    
  }

  .map {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 60px;
    margin-top: -120px;
    padding: 0;
    height: 716px;
    #yandex-map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .container {
      position: relative;
    }
  }
}