.about-main {
  position: relative;
  z-index: 3;
  @include bigradius;
  overflow: hidden;
  padding: 145px 0 75px;

  @include responsive1199 {
    margin-top: 20px;
    padding: 85px 0 50px;
  }

  @include responsive767 {
    border-radius: 30px;
    padding: 52px 0 30px;
  }
  @include responsive639 {
    margin-top: 12px;
    padding: 10px 0 30px;
  }

  .title {
    color: $colorWhite;
    margin-bottom: 100px;
    position: relative;

    @include responsive767 {
      margin-bottom: 50px;
    }
  }

  .about-main__numbers {
    border-top: solid 1px $colorWhite;
    border-radius: 40px;
    backdrop-filter: blur(5px);
    background-color: $colorBlack-a5;
    color: $colorWhite;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    padding: 32px 60px 42px 60px;
    margin-bottom: 110px;

    @include responsive1199 {
      font-size: 20px;
      line-height: 30px;
      padding: 22px 53px 23px 42px;
      margin-bottom: 44px;
    }

    @include responsive1023 {
      font-size: 16px;
      line-height: 20px;
    }
    @include responsive767 {
      font-size: 14px;
      line-height: 18px;
      padding: 30px 32px 18px;
      margin-bottom: 14px;
    }
    @include responsive639 {
      border-radius: 30px;
      padding: 27px 26px 18px;
    }
    @include responsive389 {
      font-size: 12px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include responsive1199 {
        gap: 20px;
      }
      @media (max-width: 767px) {
        flex-wrap: wrap;
      }
      @include responsive639 {
        column-gap: 0;
        row-gap: 28px;
      }
    }

    li {
      max-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      &:last-child {
        max-width: initial;
      }
      @include responsive1199 {
        p {
          line-height: 25px;
        }
      }
      @include responsive767 {
        gap: 12px;
        width: 100%;
        max-width: calc(50% - 12px);
        p {
          line-height: 17px;
        }
      }

      @include responsive767 {
        gap: 25px;
        &:last-child {
          max-width: calc(50% - 12px);
        }
      }
      @include responsive639 {
        gap: 18px;
        max-width: calc(50% - 6px);
      }

    }

    .num {
      font-weight: 400;
      font-size: 120px;
      line-height: 120px;
      text-transform: uppercase;

      @include responsive1199 {
        font-size: 90px;
        line-height: 90px;
      }

      @include responsive1023 {
        font-size: 60px;
        line-height: 70px;
      }

      @include responsive767 {
        font-size: 57px;
        line-height: 30px;
      }

      @include responsive639 {
        font-size: 45px;
      }
    }

    p {
      max-width: 200px;
    }
  }

  .picture-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  @include before {
    top: 0;
    left: 0;
    background: linear-gradient(0.5deg, #000000 0.41%, rgba(0, 0, 0, 0) 91.4%);
    width: 100%;
    height: 100%;
  }
}

.about-main__info {
  color: $colorWhite;
  display: flex;
  flex-direction: column;
  gap: 21px;
  position: relative;

  @include responsive1199 {
    gap: 18px;
  }

  @include responsive767 {
    gap: 15px;
  }

  .caption {
    @include responsive1199 {
      display: none;
    }
  }

  p {
    font-size: 16px;
    line-height: 26px;

    @include responsive1199 {
      font-size: 14px;
      line-height: 22px;
    }

    @include responsive1023 {
      font-size: 10px;
      line-height: 14px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .awards-blocks {
    margin-top: 35px;
    margin-bottom: 33px;
    display: flex;
    justify-content: space-between;
    gap: 140px;
    width: 100%;
    @include responsive1439 {
      gap: 107px;
    }
    @include responsive1199 {
      margin-top: 25px;
      margin-bottom: 20px;
    }
    @include responsive1023 {
      gap: 75px;
    }
    @include responsive767 {
      margin-bottom: 10px;
    }
    @media (max-width: 767px) {
      margin: 15px 0;
      gap: 16px;
      flex-wrap: wrap;
    }
    @include responsive639 {
      gap: 12px;
      margin-bottom: 0;
    }
  }
}

.awards-block {
  width: 100%;
  border-top: solid 1px $colorWhite;
  border-radius: 40px;
  backdrop-filter: blur(13px);
  background-color: $colorBlack-a5;
  color: $colorWhite;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  justify-content: space-between;
  gap: 5px;
  padding: 42px 28px 33px 76px;
  position: relative;
  display: flex;
  picture {
    display: initial;
  }
  @include responsive1439 {
    padding-left: 56px;
    padding-top: 33px;
  }
  @include responsive1023 {
    max-width: 518px;
    font-size: 14px;
    line-height: 20px;
    padding-right: 22px;
    padding-left: 32px;
  }
  @include responsive767 {
    font-size: 9px;
    padding: 22px 15px 20px 32px;

    padding-left: 32px;
    max-width: 100%;
    width: 100%;
    border-radius: 32px;
  }
  @include responsive639 {
    min-height: 143px;
    padding-left: 20px;
    padding-top: 19px;
  }
  &__left {
    max-width: 360px;
    @include responsive1199 {
      max-width: 320px;
    }
    @include responsive1023 {
      max-width: 70%;
    }
  }
  &__right {
    align-self: center;
  }

  .name {
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 13px;
    @include responsive1439 {
    }
    @include responsive1199 {
      font-size: 19px;
      line-height: 26px;
      max-width: 320px;
      margin-bottom: 10px;
    }

    @include responsive1023 {
      margin-bottom: 8px;
    }

    @include responsive767 {
      font-size: 13px;
      line-height: 17px;
    }
  }

  p {
    font-size: 16px;
    text-transform: none;

    @include responsive1199 {
      font-size: 14px;
      line-height: 19px;
      max-width: 270px;
    }

    @include responsive1023 {
      max-width: 70%;
    }

    @include responsive767 {
      font-size: 9px;
      line-height: 12px;
      max-width: 72%;
    }

    @include responsive639 {
      font-size: 12px;
      line-height: 16px;
      max-width: 100%;
    }
  }
  &__right {
    max-width: 260px;
    height: 125px;
    position: relative;

    @include responsive1549 {
      max-width: 180px;
      height: 100px;
    }

    @include responsive1199 {
      max-width: 110px;
      height: 90px;
    }

    @include responsive767 {
      max-width: 110px;
      height: 80px;
      align-self: flex-start;
      picture {
        height: 100%;
      }
    }

    img {
      object-fit: contain;
      height: 100%;
    }
  }
}
