.adv-main {
  position: relative;
  padding-top: 99px;
  padding-bottom: 110px;
  @include responsive1199{
    padding-top: 52px;
    padding-bottom: 70px;
  }
  @include responsive1023{
    padding-top: 31px;
    padding-bottom: 40px;
  }
  @include before {
    background-color: $colorGrayLight;
    top: -50px;
    left: 0;
    width: 100%;
    height: calc(100% + 50px);
    z-index: -1;
  }

  .adv-main__list {
    //display: grid;
    //grid-template-columns: repeat(4, 1fr);
    display: flex;
    flex-wrap: wrap;
    gap: 19px;

    @include responsive1549 {
      //grid-template-columns: repeat(2, 1fr);

    }
    @media(max-width: 1180px){
      gap: 30px 16px;
    }
    @include responsive767 {
      //grid-template-columns: 1fr;
      //gap: 50px;
    }
    @include responsive639{
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  .adv-main__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $colorGray;
    background-color: $colorWhite;
    padding: 60px 30px;
    border-radius: 50px;
    width: 100%;
    max-width: calc(25% - 15px);
    @include responsive1199 {
      font-size: 14px;
      line-height: 16px;
      gap: unset;
      border-radius: 30px;
      padding: 43px 25px;
    }
    @media(max-width: 1180px){
      max-width: calc(50% - 8px);
      padding: 43px 32px;
    }
    @include responsive639 {
      font-size: 16px;
      line-height: 18px;
      padding: 30px 20px;
      max-width: 100%;
    }
  }
  .adv-main__name {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: $colorBlack;
    @include responsive1549 {
      font-size: 22px;
      line-height: 26px;
    }
    @include responsive639 {
      font-size: 20px;
      line-height: 23px;
      padding-right: 50px;
    }
  }

  p {
    margin-top: -10px;
    @include responsive1199{
      margin-top: 20px;
    }
    @include responsive1023{
      margin-top: 10px;
    }
    @include responsive639 {
      margin-top: 20px;
    }
  }
}

.adv-section-main {
  padding: 70px 0;
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
  z-index: 2;

  @include responsive1023 {
    padding: 50px 0;
  }

  @include responsive767 {
    padding: 30px 0;
  }

  @include before {
    background-image: url('./../img/svg/lines.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 1135.98px;
    height: 456px;
    top: 0;
    left: -401px;
    z-index: -1;
  }

  @include after {
    background-image: url('./../img/svg/lines.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 1135.98px;
    height: 456px;
    bottom: 89px;
    right: -380.98px;
    z-index: -1;
  }

  .adv-section-main__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1176px;
    margin: 0 auto;
    @include responsive1199{
      display: flex;
      justify-content: center;
    }
    @include responsive1023 {
      gap: 20px;
    }

    @include responsive767 {
      display: flex;
      gap: 15px;
    }
    @include responsive639{
      gap: 11px;
      flex-direction: column;
    }
  }

  .adv-section-main__item {
    background-color: $colorWhite;
    border-radius: 40px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    justify-content: center;
    align-items: flex-start;
    min-height: 221px;
    position: relative;
    padding-left: 210px;
    display: flex;
    flex-direction: column;

    @include responsive1549 {
      font-size: 30px;
      line-height: 35px;
      min-height: 180px;
      //padding-left: 150px;
      border-radius: 30px;
    }

    @include responsive1199 {
      font-size: 24px;
      line-height: 30px;
      max-width: 435px;
      width: 100%;
      padding-left: 165px;
      min-height: 167px;
      padding-block: 5px;
      p{
        font-size: 26px;
        line-height: 26px;
      }
    }

    @include responsive1023 {
      padding-left: 100px;
      font-size: 20px;
      line-height: 24px;
      min-height: 150px;
    }

    @include responsive767 {
      font-size: 18px;
      line-height: 20px;
      gap: 5px;
      border-radius: 20px;
      min-height: 107px;
      max-width: 278px;
      p{
        font-size: 17px;
        line-height: 17px;
      }
    }
    @include responsive639{
      border-radius: 25px;
      max-width: 100%;
      min-height: 136px;
      padding-left: 115px;
      p{
        font-size: 22px;
        line-height: 22px;
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 100px;
      transform: translateY(-50%);

      @include responsive1549 {

      }
      @include responsive1199{
        width: 53px;
        height: 53px;
        left: 86px;
      }
      @include responsive1023 {
        width: 34px;
        height: 34px;
        left: 59px;
      }
      @include responsive639{
        width: 50px;
        height: 50px;
        left: 29px;
      }
    }

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $colorGray;

      @include responsive767 {
        font-size: 10px;
        line-height: 10px;
      }
      @include responsive639{
        font-size: 14px;
        line-height: 12px;
        margin-top: 10px;
      }
    }
  }
}
