.consul-section {
  background-image: url("./../img/bg-consul.jpg");
  background-image: image-set(
    url("./../img/bg-consul.webp") type("image/webp"),
    url("./../img/bg-consul.jpg") type("image/png")
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: $colorWhite;
  overflow: hidden;
  border-radius: 60px;
  min-height: 954px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  @include responsive1549 {
    min-height: 600px;
  }

  @include responsive767 {
    min-height: 616px;
    border-radius: 30px;
  }
}

.consul-section__check {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  grid-column: 1 / 4;

  @include responsive1549 {
    width: 100%;
  }

  label {
    position: relative;
    cursor: pointer;
    padding-left: 50px;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;

    @include responsive1549 {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 30px;
    }
    @include responsive1023{
      padding-left: 23px;
      display: inline-block;
      font-size: 9px;
      line-height: 9px;
    }
    @include responsive639{
      font-size: 12px;
      line-height: 14px;
      padding-left: 47px;
    }
    @include before {
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: solid 1px $colorWhite;
      @include responsive1199{
        width: 24px;
        height: 24px;
      }
      @include responsive1023{
        width: 15px;
        height: 15px;
      }
      @include responsive639{
        width: 30px;
        height: 30px;
      }
    }

    @include after {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $colorYellow;
      top: 10px;
      left: 10px;
      opacity: 0;
      @include responsive1199{
        top: 7px;
        left: 7px;
      }
      @include responsive1023{
        width: 5px;
        height: 5px;
        top: 5px;
        left: 5px;
      }
      @include responsive639{
        width: 10px;
        height: 10px;
        top: 10px;
        left: 10px;
      }
    }

    a {
      color: $colorWhite;
      display: inline-block;
      text-decoration: underline;
    }
  }

  input {
    display: none;

    &:checked {
      & + label {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.consul-section__list {
  display: grid;
  grid-template-columns: 1fr 1fr 213px;
  flex-wrap: wrap;
  gap: 30px 16px;
@include responsive1023{
  gap: 8px;
  grid-template-columns: 144px 144px auto;
}
  @include responsive639 {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
}

.consul-section__title {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include responsive1549 {
    gap: 10px;
    width: 50%;
  }

  @include responsive767 {
    width: 100%;
  }
}

.consul-section__form {
  background: $colorBlack-a3;
  backdrop-filter: blur(13px);
  border: solid 1px $colorWhite;
  border-radius: 65px;
  display: grid;
  align-items: center;
  grid-template-columns: 520px 1fr;
  padding: 75px 30px;
  gap: 50px;

  .caption {
    @include responsive389 {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .input-item {
    input {
      height: 76px;
      color: $colorWhite;
      border: solid 1px $colorWhite;
      padding: 0 40px;
      border-radius: 60px;
      font-size: 20px;
      padding-bottom: 7px;

      @include responsive1549 {
        height: 56px;
        font-size: 18px;
        line-height: 20px;
      }
      @include responsive1023{
        height: 37px;
        padding: 0 20px;
        font-size: 10px;
        line-height: 17px;
      }
      @include responsive639 {
        padding: 0 30px 6px 41px;
        height: 55px;
        font-size: 16px;
        line-height: 1;

      }

      &::placeholder {
        text-transform: none;
        color: $colorWhite;
        opacity: 1;
      }
    }
  }

  .btn {
    height: 76px;
    font-size: 20px;
    padding-bottom: 7px;
    width: 100%;
    max-width: 100%;

    @include responsive1549 {
      height: 56px;
      font-size: 18px;
      line-height: 20px;
    }
    @include responsive1023{
      height: 37px;
      font-size: 10px;
      line-height: 10px;
      padding-inline: 25px;
      padding-bottom: 0;
    }
    @include responsive639 {
      order: 3;
      height: 55px;
      font-size: 16px;
    }
  }

  @include responsive1549 {
    padding: 40px 20px;
    gap: 34px;
    display: flex;
    justify-content: space-between;
  }

  @include responsive1199 {
    flex-direction: column;
    align-items: flex-start;
    padding: 28px 30px;
  }

  @include responsive767 {
    padding: 16px;
    gap: 16px;
    border-radius: 30px;
  }
}

.call-form {
  width: 100%;
  margin-top: -140px;
  margin-bottom: -50px;
  position: relative;
  z-index: 5;
  overflow: hidden;
  $border: 1px;

  @include responsive767 {
    margin-bottom: 0;
  }

  @include before {
    background-image: url('./../img/svg/lines.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 1153px;
    height: 463px;
    top: 5px;
    right: 70px;
    z-index: -1;
    pointer-events: none;
  }

  .consul-section__title {
    width: 100%;
  }

  .call-form__inner {
    // border: solid 1px $colorBlack;
    border-radius: 50px;
    position: relative;
    z-index: 3;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */

    @include after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // backdrop-filter: blur(3px);
      background-color: $colorWhite;
      z-index: -1;
      border-radius: 28px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(
        to bottom,
        #000 0%,
        rgba(0, 0, 0, 0.11) 70%,
        rgba(0, 0, 0, 0.07) 75%,
        rgba(0, 0, 0, 0.05) 100%
      );
      border-radius: 30px;
    }
  }

  .consul-section__form {
    display: flex;
    flex-direction: column;
    background: transparent;
    align-items: flex-start;
    max-width: 950px;
    width: 100%;
    padding: 57px;
    border-radius: 0;
    backdrop-filter: blur(0);
    border: 0;

    @include responsive1199 {
      max-width: 64%;
      padding: 46px 46px 15px 46px;
    }

    @include responsive1023 {
      max-width: 449px;
      padding: 20px;
    }
    @include responsive1023{
      padding: 31px 0 6px 26px;
      max-width: 475px;
      gap: 24px;
    }
    @include responsive639 {
      max-width: 100%;
      padding: 18px 26px 6px 16px;
      gap: 33px;
    }

    .input-item {
      input {
        border: solid 1px $colorBlack;
        color: $colorBlack;

        &::placeholder {
          color: $colorBlack;
        }
      }
    }
  }

  .caption {
    max-width: 345px;
    line-height: 60px;

    @include responsive1199 {
      line-height: 45px;
    }
    @include responsive1023{
      font-size: 28px;
      line-height: 30px;
      max-width: 64%;
    }
    @include responsive639{
      font-size: 35px;
      line-height: 40px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    @include responsive767{
      font-size: 11px;
      line-height: 7px;
    }
    @include responsive639{
      font-size: 16px;
      line-height: 1;
    }
  }

  .consul-section__list {
    width: 100%;
  }

  .consul-section__check {
    label {
      &::after,
      &::before {
        border-color: $colorBlack;
      }
    }
  }

  .picture-block {
    position: absolute;
    width: 493px;
    height: 590px;
    right: 50px;
    bottom: 0;
    background-size: contain;

    @include responsive1549 {
      width: 374px;
      height: 426px;
      right: -30px;
    }
    @include responsive1199{
      right: 47px;
    }
    //@include responsive1023 {
    //  width: 363px;
    //  height: 451px;
    //  right: -20px;
    //}
    @include responsive1023{
      width: 240px;
      height: 272px;
      right: 36px;
    }
    @media(max-width: 767px) {
      &:not(.mobvisible){
        display: none;
      }
    }
  }

  .consul-section__check label a {
    color: $colorBlack;
  }
}

.call-form{
  &.call-form--house{
    @include responsive1199{
      .picture-block.mobvisible{
        top: -265px;
        scale: .8;
      }
    }
  }
}