.partners-section {
  overflow: hidden;
  padding-bottom: 100px;
  @include responsive1199{
    padding-top: 40px;
    padding-bottom: 62px;
  }
  @include responsive767{
    padding-top: 30px;
    padding-bottom: 60px;
  }
  @include responsive639{
    padding-top: 40px;
    padding-bottom: 0;
    .container{
      position: relative;
      padding-bottom: 157px;
    }
  }
  .section-title {
    align-items: flex-start;
    .swiper-controls {
      gap: 9px;
      @include responsive639{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 59px;
      }
      .swiperBtn{
        width: 60px;
        height: 60px;
      }
      @include responsive1199 {
        .swiperBtn{
          width: 45px;
          min-width: 45px;
          height: 45px;
        }
      }
      @include responsive767 {
        .swiperBtn{
          width: 29px;
          min-width: 29px;
          height: 29px;
          background-size: 5px;
        }
      }
      @include responsive639 {
        .swiperBtn{
          width: 49px;
          min-width: 49px;
          height: 49px;
          background-size: auto;
        }
      }
      @include responsive767 {
        //display: none;
      }
    }
  }
}

.partners-slider {
  margin-top: 104px;
  overflow: visible;

  @include responsive1549 {
    margin-top: 60px;
  }

  @include responsive1199 {
    margin-top: 90px;
  }

  @include responsive767 {
    margin-top: 40px;
  }

  .swiper-slide {
    position: relative;
    height: 183px;
    filter: grayscale(1);

    @include responsive1549 {
      height: 140px;
    }
    @include responsive767{
      height: 90px;
    }
  }

  .picture-block {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      object-fit: contain;
    }
  }
}

.partners-slider__contriols--mobile {
  display: none;

  @include responsive767 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
