.technologies {
  position: relative;
  z-index: 3;
  //min-height: 967px;
  min-height: 791px;
  border-radius: 60px;
  margin-top: 37px;
  overflow: hidden;

  @include responsive1549 {
    min-height: 599px;
    margin-top: 32px;
  }

  @include responsive1199 {
    margin-bottom: 0px;
    border-radius: 45px;
  }

  @include responsive1023 {
    min-height: 383px;
    border-radius: 30px;
    margin-top: 19px;
  }
  @include responsive639 {
    min-height: 599px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin-top: 9px;
  }
  &-section {
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 103px;
    @include responsive1199 {
      padding-top: 50px;
    }
    @include responsive767 {
      padding-top: 35px;
    }
  }
  &-section + .adv-section-main {
    top: -30px;
    padding-top: 140px;
    border-radius: 0 0 60px 60px;
    @include responsive1199 {
      padding-top: 120px;
      padding-bottom: 57px;
      border-radius: 0 0 45px 45px;
    }
    @include responsive767 {
      padding-top: 95px;
      padding-bottom: 45px;
      border-radius: 0 0 30px 30px;
      margin-top: -60px;
      top: 0;
    }
    @include responsive639 {
      padding-bottom: 55px;
      border-radius: 0;
      &:after {
        display: none;
      }
      &:before{
        top: 80px;
        left: -640px;
        scale: 0.7;
      }
    }
  }

  .section-title {
  }

  .caption {
    color: $colorWhite;
  }

  .picture-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    img {
    }
    @include responsive639 {
      min-height: 599px;
      border-radius: 30px;
    }
  }

  .technologies__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include responsive1199 {
      display: flex;
    }
    @include responsive639 {
      flex-wrap: wrap;
      position: relative;
      flex-grow: 1;
      flex-direction: column;
    }

    .technologies__item {
      position: relative;

      @include responsive1199 {
        box-shadow: 0px 30px 20px 0px rgba(0, 0, 0, 0.11);
        border-radius: 20px;
      }
      @include after {
        right: 0px;
        bottom: -22px;
        z-index: -1;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;

        @include responsive639 {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='17.5022' cy='17.5022' r='17.5022' fill='%23F59E11'/%3e%3ccircle cx='17.5019' cy='17.5022' r='3.75046' fill='white'/%3e%3c/svg%3e ");
          width: 45px;
          height: 45px;
          min-width: 45px;
          background-size: cover;
        }
      }
    }

    .technologies__info {
      background-color: $colorWhite;
      border-radius: 40px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      padding: 18px 35px;

      @include responsive1199 {
        border-radius: 30px;
      }

      @include responsive767 {
        font-size: 12px;
        line-height: 16px;
        padding: 12px;
        border-radius: 20px;
      }

      img {
        width: 100%;
        height: 200px;
        position: relative;
        margin-bottom: 30px;
        border-radius: 30px;
        overflow: hidden;

        @include responsive767 {
          height: 130px;
          margin-bottom: 20px;
        }
      }

      a {
        text-decoration: underline;
        transition: text-decoration 0.3s;

        @include hover {
          text-decoration-color: transparent;
        }
      }
    }

    .technologies__title {
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      display: block;
      margin-bottom: 5px;
      text-transform: uppercase;
      & + p {
        font-size: 14px;
        line-height: 20px;
      }
      @include responsive1199 {
        font-size: 17px;
        line-height: 23px;
        & + p {
          font-size: 12px;
          line-height: 16px;
        }
      }
      @include responsive767 {
        font-size: 11px;
        line-height: 15px;
        & + p {
          font-size: 8px;
          line-height: 10px;
        }
      }
    }
  }

  .technologies__list {
    @include responsive639 {
      display: none;
    }

    .technologies__circle {
      cursor: pointer;
      // background-image: url("../img/pic-circle.svg");
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='20' cy='20' r='20' fill='%23F59E11'/%3e%3ccircle cx='19.9999' cy='20.0001' r='4.28571' fill='white'/%3e%3c/svg%3e ");
      border-radius: 50%;
      width: 40px;
      height: 40px;
      transition: transform 0.3s;

      @include hover {
        transform: scale(1.1);
      }
      @include responsive767 {
        width: 20px;
        height: 20px;
        background-size: contain;
      }
    }

    .technologies__item {
      position: absolute;

      &:nth-child(1) {
        //left: calc(50% - 400px);
        //top: calc(50% + 160px);
        left: calc(50% - 434px);
        top: calc(50% + 126px);
        @include responsive1549 {
          top: calc(50% + 100px);
          left: calc(50% - 334px);
        }
        @include responsive1023 {
          top: calc(50% + 57px);
          left: calc(50% - 232px);
        }
      }

      &:nth-child(2) {
        //left: calc(50% - 210px);
        //top: calc(50% + 20px);
        left: calc(50% - 230px);
        top: calc(50% - 80px);
        @include responsive1549 {
          left: calc(50% - 180px);
          top: calc(50% - 60px);
        }
        @include responsive1023 {
          left: calc(50% - 110px);
          top: calc(50% - 50px);
        }
      }

      &:nth-child(3) {
        //left: calc(50% + 140px);
        //top: calc(50% + 200px);
        left: calc(50% - 65px);
        top: calc(50% - 115px);
        @include responsive1549 {
          left: calc(50% - 50px);
          top: calc(50% - 90px);
        }
        @include responsive1023 {
          left: calc(50% - 31px);
          top: calc(50% - 55px);
        }
      }

      &:nth-child(4) {
        //left: calc(50% + 340px);
        //top: calc(50% + 250px);
        left: calc(50% - 260px);
        top: calc(50% + 140px);
        @include responsive1549 {
          left: calc(50% - 205px);
          top: calc(50% + 100px);
        }
        @include responsive1023 {
          left: calc(50% - 155px);
          top: calc(50% + 63px);
        }

        .technologies__info {
          left: auto;
          right: 14px;
          transform-origin: top right;

          @include responsive1549 {
            transform-origin: bottom right;
          }
        }
      }

      &:nth-child(5) {
        //left: calc(50% + 470px);
        //top: calc(50% + 50px);
        left: calc(50% + 670px);
        top: calc(50% + 176px);
        @include responsive1549 {
          left: calc(50% + 510px);
          top: calc(50% + 136px);
        }
        @include responsive1023 {
          left: 95%;
          top: calc(50% + 98px);
        }
        .technologies__info {
          left: auto;
          right: 14px;
          transform-origin: top right;

          @include responsive1549 {
            transform-origin: bottom right;
          }
        }
      }

      &:nth-child(6) {
        //left: calc(50% + 340px);
        //top: calc(50% - 290px);
        left: calc(50% + 483px);
        top: calc(50% - 210px);
        @include responsive1549 {
          left: calc(50% + 360px);
          top: calc(50% - 163px);
        }
        @include responsive1023 {
          left: 80%;
          top: 24%;
        }
        .technologies__info {
          left: auto;
          right: 14px;
          transform-origin: top right;

          @include responsive1549 {
            transform-origin: bottom right;
          }
        }
      }
    }

    .technologies__info {
      width: 390px;
      transform: scale(0);
      transition: all 0.3s;
      pointer-events: none;
      z-index: 3;
      position: absolute;
      top: 0px;
      left: 18px;
      transform-origin: top left;
      box-shadow: 0px 0px 15px $colorBlack-a3;
      backdrop-filter: blur(20px);
      background-color: $colorBlack-a3;
      color: $colorWhite;
      padding: 24px;
      font-size: 14px;
      line-height: 20px;

      @include responsive1549 {
        top: auto;
        bottom: -10px;
        transform-origin: bottom left;
      }
      @include responsive1199 {
        width: 230px;
        padding: 16px 20px 20px 25px;
      }
      @include responsive767 {
        width: 270px;
        padding: 10px 15px 13px 17px;
      }
      &.opened {
        transform: scale(1);
        pointer-events: initial;
      }
    }
  }
  .technologies__slider {
    display: none;
    width: 100%;
    left: 0;
    position: relative;
    padding: 0 10px;
    overflow: visible;

    @include responsive639 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      //margin-top: auto;
      //transform: translateY(210px);
    }

    img {
    }
    .swiper-wrapper {
      flex-grow: 1;
    }
    .swiper-controls {
      margin: 0 auto 32px;
      justify-content: center;

      .swiperBtnPrev,
      .swiperBtnNext {
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 1px solid #fff;
        backdrop-filter: blur(4px);
      }
    }

    .technologies__info {
      padding: 27px 70px 35px 30px;
      background: #00000059;
      backdrop-filter: blur(26px);
      color: #ffffff;

      .technologies__title {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: -1px;
        & + p {
          font-size: 16px;
          line-height: 23px;
        }
      }
    }
  }
}

.technologies-section__head {
  &.technologies-section__head--mobvisible {
    display: none;
  }
  @include responsive639 {
    &.technologies-section__head--mobvisible {
      display: flex;
      width: 100%;
      height: 100%;
      .container {
        flex-direction: column;
        gap: 11px;
        padding-top: 30px;
        height: 100%;
        margin-bottom: 43px;
      }
    }
    &.technologies-section__head--mobhidden {
      display: none;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include responsive1199 {
      align-items: flex-start;
    }
  }
  .caption {
    @include responsive1199 {
      line-height: 50px;
    }
    @include responsive1023 {
      font-size: 28px;
      line-height: 32px;
    }
    @include responsive639 {
      font-size: 35px;
      line-height: 42px;
    }
  }
  p {
    max-width: 904px;
    color: $colorGray;
    @include responsive1199 {
      font-size: 14px;
      line-height: 16px;
      width: 100%;
      max-width: 686px;
      margin-top: 12px;
    }
    @include responsive1023 {
      font-size: 10px;
      line-height: 12px;
      margin-top: 12px;
    }
    @include responsive639 {
      margin-top: 0;
      color: #ffffff;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
