@import "about-description";
@import "about-information";
@import "about-infographics";

.about-page {
  .main {
    padding-top: 137px;
  }
  .call-form {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 125px;
    padding-bottom: 0;

    @include responsive1199 {
      padding-top: 99px;
    }
    @include responsive767{
      padding-top: 69px;
    }
    @include before {
      top: 36px;
      right: 38px;
    }
  }
}