.about-description {
  background-color: #F8F8F8;
  padding: 239px 0 92px;
  margin-top: -115px;
  border-radius: 0 0 60px 60px;

  @include responsive1199 {
    padding: 189px 0 52px;
    border-radius: 45px;
  }
  @include responsive767{
    padding-top: 159px;
    border-radius: 28px;
  }
  @include responsive639{
    padding-top: 152px;
    padding-bottom: 10px;
    border-radius: 30px;
  }
  &__wrapper {
    display: flex;
    gap: 86px;
    @include responsive1439 {
      gap: 25px;
    }
    @media(max-width: 1199px) {
      gap: 18px;
    }
    @media(max-width:767px) {
      flex-wrap: wrap;
    }

    & > :first-child {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .caption {
        margin-bottom: 20px;

        @include responsive1199 {
          font-size: 45px;
          line-height: 49px;
        }

        @include responsive1023 {
          font-size: 28px;
          line-height: 33px;
        }
        @include responsive639 {
          font-size: 35px;
          line-height: 42px;
          margin-bottom: 0;
        }
      }
      p {
        font-size: 24px;
        color: #8E8E8E;
        line-height: 35px;
        font-family: $fontMain;
        margin-bottom: 35px;

        @include responsive1199 {
          font-size: 18px;
          line-height: 22px;
        }
        @include responsive767{
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 15px;
        }
        @include responsive639{
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 25px;
        }
      }
      & > :last-child {
        margin-bottom: 0;
      }
    }
    .adv-section-about {
      &__list {
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 70px;
        padding: 65px 76px 58px;
        box-sizing: border-box;
        border-radius: 40px;
        background-color: #FFFFFF;

        @include responsive1199 {
          grid-row-gap: 75px;
          padding: 35px 54px 50px;
        }

        @include responsive1023 {
          padding: 30px 25px 24px 31px;
          grid-row-gap: 45px;
        }
        @include responsive639{
          padding: 40px 25px 24px 31px;
          grid-row-gap: 25px;
          border-radius: 30px;
        }

      }
      &__item {
        display: flex;
        align-items: center;
        column-gap: 34px;
        @include responsive1439 {
          column-gap: 28px;
        }
        @media(max-width: 1199px) {
          column-gap: 19px;
        }
        @media(max-width:767px) {
          gap: 18px;
          flex-direction: column;
          align-items: flex-start;
        }
        @media(max-width:767px) {
          gap: 9px;
        }
        img {
          flex: none;
          margin: 0;
          width: 74px;
          height: 74px;

          @include responsive1199 {
            width: 62px;
            height: 62px;
          }
          @include responsive767{
            width: 42px;
            height: 42px;
          }
          @include responsive639{
            width: 60px;
            height: 60px;
          }
        }
        p {
          font-weight: 400;
          font-size: 35px;
          line-height: 45px;
          color: $colorBlack;
          margin: 0;
          @include responsive1439 {
            font-size: 30px;
            line-height: 30px;
          }
          @media(max-width: 1199px) {
            font-size: 20px;
            line-height: 20px;
          }
          @media(max-width:767px) {
            font-size: 20px;
            line-height: 22px;
          }
          @include responsive639{
            line-height: 30px;
          }
        }
      }
    }
  }
  &__item {
    width: 100%;
    max-width: 673px;
    @include responsive1439 {
      max-width: calc(48% + 12px);
    }
    @media(max-width: 1199px) {
      max-width: calc(50% + 8px);
    }
    @media(max-width:767px){
      max-width: 100%;
    }
    &:nth-child(2) {
      max-width: 50%;
      flex-shrink: 0;
      @include responsive1439 {
        max-width: calc(52% + 17px);
      }
      @media(max-width: 1199px) {
        max-width: calc(52% + 8px);
      }
      @media(max-width:767px){
        max-width: 100%;
      }
    }
  }
}