.about-information {
  padding: 96px 0 117px;

  @include responsive1199 {
    padding: 62px 0 57px;
  }
  @include responsive767{
    padding-top: 42px;
  }
  @include responsive639{
    padding-bottom: 40px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-column-gap: 15px;
    position: relative;

    @include responsive1199 {
      grid-template-columns: calc(45% - 10px) calc(55% - 10px);
    }

    @include responsive639{
      grid-template-columns: 100%;
      gap: 35px;
    }

    @include before {
      background-image: url('./../img/svg/lines.svg');
      background-position: center;
      background-repeat: no-repeat;
      width: 1135px;
      height: 460px;
      z-index: -2;
      pointer-events: none;
    }
    &--left-img {
      @include before {
        right: -685px;
        top: -42px;
      }
      & > :first-child {
        align-items: flex-end;
        picture {
          right: -20px;
          @include responsive639{
            right: 0;
            width: calc(100% + 40px);
          }
        }
      }
      & > :last-child {
        align-items: flex-start;
        padding-left: 78px;
        padding-right: 0;
        padding-top: 50px;

        @include responsive1199 {
          padding-left: 62px;
          padding-top: 20px;
          padding-right: 50px;
        }
        @include responsive767{
          padding: 50px 40px 0;
          align-self: flex-start;
        }
        @include responsive639 {
          padding-right: 0;
          padding-top: 0;
          padding-left: 0;
        }

        & > :last-child {
          margin-bottom: 0;
        }
      }
    }
    &--right-img {
      @include before {
        left: -677px;
        bottom: 630px;

        @include responsive1199 {
          left: -837px;
          bottom: 190px;
        }

      }
      & > :first-child {
        align-items: flex-start;
        padding-right: 80px;
        padding-left: 0;
        padding-top: 58px;
        @include responsive767{
          padding-right: 70px;
        }
        & > :last-child {
          margin-bottom: 0;
        }
        @include responsive639 {
          padding: 0;
        }
      }
      & > :last-child {
        align-items: flex-start;
        picture {
          left: -20px;
          top: 20px;
          @include responsive639 {
            top: unset;
            left: 0;
            width: calc(100% + 40px);
          }
        }
        @include responsive639{
          order: -1;
        }
      }
    }
    .caption {
      margin-bottom: 30px;

      @media(max-width: 1199px) and (min-width: 768px){
        font-size: 28px;
        line-height: 37px;
        margin-bottom: 5px;
      }
      @include responsive639{
        margin-bottom: 20px;
      }
    }
    p {
      font-size: 24px;
      color: #8E8E8E;
      line-height: 35px;
      font-family: $fontMain;
      margin-bottom: 35px;

      @include responsive1199 {
        font-size: 18px;
        line-height: 22px;
      }

      @include responsive767{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 15px;
      }
      @include responsive639{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }
    
    picture {
      width: calc(50vw + 80px);
      max-width: calc(1920px / 2 + 180px);
      position: relative;
      overflow: hidden;
      border-radius: 80px;
      min-height: 698px;
      max-height: 698px;
      object-position: center;
      object-fit: cover;

      @include responsive1199 {
        border-radius: 43px;
        min-height: 395px;
        max-height: 395px;
      }
      @include responsive767 {
        min-height: 253px;
        max-height: 253px;
        border-radius: 28px;
      }
      @include responsive639(){
        border-radius: 29px;
        min-height: unset;
        max-height: unset;
      }

      @include responsive479(){
        border-radius: 29px;
        min-height: 240px;
        max-height: 240px;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
  }
  &__second {
    padding: 96px 0 138px;

    @include responsive1199 {
      padding: 68px 0 94px;
    }
    @include responsive767{
      padding: 15px 0 71px;
    }
    @include responsive639{
      padding-top: 25px;
      padding-bottom: 44px;
    }
    .about-information__wrapper {

      @include responsive1199 {
        grid-template-columns: calc(56% - 10px) calc(44% - 10px);
      }

      @include responsive639 {
        grid-template-columns: 100%;
      }
    }

  }
}