.about-description {
  background-color: #F8F8F8;
  padding: 239px 0 92px;
  margin-top: -115px;
  border-radius: 0 0 60px 60px;

  @include responsive1199 {
    padding: 189px 0 52px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

    @include responsive1199 {
      grid-template-columns: 0.9fr 1.1fr;
    }

    & > :first-child {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .caption {
        margin-bottom: 20px;

        @include responsive1199 {
          font-size: 45px;
          line-height: 49px;
        }

      }
      p {
        font-size: 24px;
        color: #8E8E8E;
        line-height: 35px;
        font-family: $fontMain;
        margin-bottom: 35px;

        @include responsive1199 {
          font-size: 18px;
          line-height: 22px;
        }

      }
      & > :last-child {
        margin-bottom: 0;
      }
    }
    .adv-section-about {
      &__list {
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 70px;
        padding: 65px 76px 58px;
        box-sizing: border-box;
        border-radius: 40px;
        background-color: #FFFFFF;

        @include responsive1199 {
          grid-row-gap: 53px;
          padding: 35px 54px 50px;
        }

      }
      &__item {
        display: flex;
        align-items: center;
        column-gap: 34px;
        img {
          flex: none;
          margin: 0;
          width: 74px;
          height: 74px;

          @include responsive1199 {
            width: 62px;
            height: 62px;
          }
        }
        p {
          font-weight: 400;
          font-size: 35px;
          line-height: 45px;
          color: $colorBlack;
          margin: 0;

          @include responsive1199 {
            font-size: 30px;
            line-height: 38px;
          }

        }
      }
    }
  }
  &__item {
    &:nth-child(2) {
      padding: 13px 0 0;

      @include responsive1199 {
        padding: 0;
      }

    }
  }
}