.detail-press-page {
  .call-form {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 124px;
    padding-bottom: 0;
    @include before {
      top: 37px;
    }
  }
  .page-content {
    position: relative;
    padding-top: 33px;
    @include before {
      background-image: url('./../img/svg/lines.svg');
      background-position: center;
      background-repeat: no-repeat;
      width: 1153px;
      height: 463px;
      top: 0px;
      right: -728.41px;
      z-index: -1;
      pointer-events: none;
    }
  }
  .detail-press-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-column-gap: 20px;
    grid-row-gap: 47px;
    @include responsive1199{
      grid-row-gap: 38px;
    }
    @include responsive1023{
      grid-row-gap: 19px;
    }
    @media(max-width: 750px){
      grid-row-gap: 0;
    }
    .detail-press-page-picture {
      flex: none;
      max-width: calc((100% - 20px ) / 12 * 7 - 52px);
      width: 100%;
      border-radius: 40px;
      position: relative;
      overflow: hidden;
      min-height: 606px;
      @include responsive1199{
        min-height: 427px;
      }
      @include responsive767{
        min-height: 278px;
        max-width: calc(50% - 10px);
      }
      @media(max-width: 750px){
        min-height: 264px;
        max-width: 100%;
      }
      picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    .detail-press-info {
      flex: none;
      max-width: calc((100% - 20px) / 12 * 5);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 10px;
      padding-top: 16px;
      box-sizing: border-box;
      gap: 40px;
      .caption {
        line-height: 42px;
        text-transform: uppercase;
        font-size: 35px;
        // margin-bottom: 40px;
        max-width: 388px;
      }
      &__head {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 20px;
        width: 100%;
        justify-content: space-between;
        // margin-bottom: 68px;
        .btn {
          margin-bottom: 0;
        }
        .sale-schedule{
          margin-bottom: 0;
          &__icon{
            svg{
              @media(max-width: 1023px) and (min-width: 768px){
                width: 43px;
                height: 43px;
              }
            }
          }
        }
        .detail-press-page-published {
          .title {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #8e8e8e;
            display: block;
          }
          p {
            font-size: 25px;
            font-weight: 400;
            line-height: 1;
            color: black;
          }
        }
      }
      @include responsive1199{
        .caption{
          font-size: 28px;
          line-height: 35px;
        }
      }
      @include responsive1023{
        &__head{
          flex-direction: row;
          .btn{
            display: none;
          }
        }
      }
      @include responsive767{
        max-width: calc(50% - 10px);
        .caption{
          font-size: 25px;
          line-height: 35px;
        }

      }
      @media(max-width: 750px){
        gap: 10px;
        max-width: 100%;
        padding: 0;
        margin-top: 17px;
      }
      @include responsive639{
        .caption{
          font-size: 30px;
        }
      }
    }

    .detail-press-page-description, .detail-press-page-content {
      p {
        color: #8E8E8E;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 32px;
      }
      & > :last-child {
        margin-bottom: 0;
      }
      @include responsive1199{
        p{
          font-size: 18px;
          line-height: 22px;
        }
      }
      @include responsive767{
        p{
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 20px;
        }

      }
      @include responsive639{
        p{
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 24px;
        }

      }
    }
    @include responsive1023{
      .detail-press-page-description{
        p{
          margin-bottom: 0;
          &:last-child{
            display: none;
          }
        }
      }
    }

    & > :last-child {
      display: none;
    }
  }

  .btn {
    &--backspace {
      width: auto;
      font-size: 12px;
      margin: 0 0 47px;
    }
  }

}