.btn {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  color: $colorBlack;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0em;
  text-align: center;
  padding: 0px 7px;
  border-radius: 50px;
  font-variant-ligatures: none;
  font-family: 'Involve';
  width: 100%;
  height: 46px;

  @include responsive1549 {
  }

  @include responsive1199 {
  }

  @include responsive1023 {
  }

  @include responsive767 {
  }

  &--orange {
    background-color: $colorYellow;
    color: $colorWhite;

    @include hover {
      background-color: $colorBlack;
      border: solid 1px $colorBlack;
      color: $colorWhite;
    }
  }

  &--dark {
    background-color: $colorWhite;
    border: solid 1px $colorBlack;
    color: $colorBlack;
    &:hover,
    &:active{
      border-color: transparent;
      background-color: $colorBlack;
      color: $colorWhite;
    }
  }
  &--black {
    color: $colorWhite;
    border: solid 1px $colorBlack;
    background-color: $colorBlack;
    &:hover,
    &:active{
      background-color: #f59e11;;
      border-color: transparent;
    }
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn-chat {
  padding-right: 25px;

  @include before {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.8982 5.04725C16.4354 2.20983 13.9844 0.045012 11.1969 0.0121908C9.42477 -0.00861143 7.62527 0.00155853 6.03786 0.0108039C5.65504 0.0131153 5.26728 0.0463988 4.88582 0.110192C2.61005 0.490641 0.669924 2.37532 0.167144 4.69315C0.119068 4.9155 0.0831227 5.14663 0.048975 5.36991C0.0332491 5.473 0.0170739 5.57655 0 5.67917V6.55379C0.00179725 6.56026 0.0035945 6.56627 0.00539174 6.57274C0.0139287 6.60232 0.0238135 6.63607 0.027408 6.67398C0.147824 8.01133 0.648357 9.19335 1.51553 10.1868C2.49997 11.3147 3.71087 11.9785 5.11497 12.1588C5.55889 12.2157 6.02033 12.2198 6.4665 12.2235C6.63005 12.2249 6.79899 12.2263 6.96524 12.2305C7.4797 12.243 7.80096 12.5716 7.8032 13.0884C7.80455 13.3755 7.8041 13.6626 7.8041 13.9497C7.8041 14.1008 7.8041 14.252 7.8041 14.4031C7.8041 14.6005 7.87374 14.754 8.01618 14.8719C8.22421 15.0439 8.45695 15.0425 8.72834 14.8691L9.38793 14.4475C10.1257 13.976 10.8886 13.4883 11.6372 13.0066L11.8861 12.8467C12.8063 12.2559 13.7575 11.6448 14.6193 10.937C15.4882 10.2233 16.0404 9.57288 16.4093 8.82862C16.9687 7.69929 17.1287 6.46179 16.8982 5.04725ZM5.41286 4.54568C5.49509 4.30022 5.70357 4.15922 5.98394 4.15922C6.51727 4.15876 7.05016 4.15876 7.58349 4.15876C7.89396 4.15876 8.20444 4.15876 8.51446 4.15876H9.44499H9.91407C10.2785 4.1583 10.6429 4.1583 11.0072 4.15922C11.1892 4.15969 11.3501 4.22348 11.4611 4.33858C11.5621 4.44352 11.6147 4.58266 11.6134 4.74076C11.6107 5.07591 11.3627 5.31028 11.0108 5.3112C10.407 5.31259 9.80264 5.31213 9.19876 5.31166H8.49065C8.23903 5.3112 7.98787 5.31213 7.73625 5.31213C7.15215 5.31305 6.54827 5.31351 5.95428 5.31028C5.76018 5.30935 5.58809 5.21967 5.48116 5.06435C5.37737 4.91411 5.35265 4.72504 5.41286 4.54568ZM11.3227 8.00301C11.2319 8.04923 11.1272 8.07604 11.0356 8.07604C9.17315 8.08205 7.3458 8.08067 5.96192 8.07882C5.63168 8.07835 5.38231 7.8315 5.38186 7.50422C5.38141 7.17693 5.62988 6.92869 5.95967 6.92776C6.31238 6.92638 6.66869 6.92638 7.0223 6.92638C7.27167 6.92638 7.52014 6.92638 7.76456 6.92684C8.00854 6.92684 8.25251 6.9273 8.49649 6.9273C8.74361 6.9273 8.99028 6.9273 9.23696 6.92684C9.8314 6.92638 10.4461 6.92591 11.0499 6.92823C11.3227 6.92915 11.5329 7.10065 11.5985 7.3757C11.6587 7.62718 11.5428 7.89067 11.3227 8.00301Z' fill='white'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: solid 1px $colorWhite;
    top: 0;
  }

  @include hover {
    background-color: $colorBlack;
  }
}

.btn-download {
  display: inline-flex;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px $colorBlack;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.3894 13.9498C12.9728 13.3723 13.167 12.727 12.8203 12.0017C12.4804 11.2913 11.8664 11.0393 11.0818 11.1166C11.0818 10.6237 11.0845 10.1436 11.0802 9.66344C11.0786 9.50568 11.0739 9.34528 11.0432 9.19176C10.8849 8.40087 10.1575 7.86778 9.34279 7.93554C8.55984 8.00065 7.92458 8.6772 7.91028 9.4718C7.90181 9.95354 7.90817 10.4358 7.90817 10.9181C7.90817 10.9827 7.90817 11.0467 7.90817 11.1192C7.12998 11.0367 6.52013 11.2876 6.17709 11.9837C5.81817 12.7121 6.00769 13.3659 6.59583 13.9467C6.5106 13.9509 6.45501 13.9567 6.39943 13.9557C5.66041 13.9445 4.91769 13.9753 4.18344 13.9117C2.15538 13.7354 0.385126 12.0441 0.0643206 10.025C-0.347538 7.42575 1.2549 5.09011 3.82822 4.54591C4.01457 4.50673 4.20673 4.48556 4.39678 4.47444C4.52489 4.46703 4.57148 4.41303 4.60589 4.29339C5.23744 2.10334 6.65406 0.696246 8.86741 0.155218C12.0326 -0.618208 15.284 1.5872 15.7515 4.80372C15.8208 5.28228 15.788 5.77566 15.8023 6.26216C15.8039 6.31404 15.8023 6.36592 15.8023 6.38551C16.2322 6.54274 16.661 6.66132 17.0559 6.85084C18.3126 7.45486 18.9167 8.49986 18.9977 9.86566C19.1152 11.8556 17.8134 13.521 15.8558 13.8964C15.7203 13.9223 15.581 13.9461 15.4434 13.9467C14.4402 13.9514 13.4365 13.9498 12.3894 13.9498Z' fill='%23212121'/%3e%3cpath d='M10.1305 13.0585C10.4132 12.7758 10.6541 12.5334 10.897 12.292C11.1967 11.9945 11.5789 11.9744 11.8446 12.2406C12.1099 12.5059 12.0897 12.8881 11.7906 13.1888C11.1993 13.7838 10.6075 14.3777 10.0146 14.9701C9.671 15.3132 9.32743 15.311 8.98174 14.9669C8.37401 14.3608 7.76575 13.7552 7.15908 13.1475C6.97591 12.9643 6.91292 12.7446 6.99233 12.4942C7.06644 12.2597 7.23161 12.1173 7.4693 12.0675C7.70064 12.0188 7.89863 12.094 8.06326 12.2613C8.31366 12.5149 8.56406 12.7679 8.86316 13.0707C8.86316 12.9474 8.86316 12.8812 8.86316 12.8155C8.86263 11.7192 8.85998 10.6234 8.86263 9.52703C8.86316 9.22263 9.04156 8.99288 9.32478 8.90818C9.58259 8.83089 9.87693 8.92565 10.0135 9.16652C10.0844 9.29145 10.1231 9.45132 10.1247 9.59637C10.1342 10.6594 10.131 11.7224 10.1316 12.7859C10.1305 12.8579 10.1305 12.9294 10.1305 13.0585Z' fill='%23212121'/%3e%3c/svg%3e ");

  @include responsive767 {
    width: 33px;
    height: 33px;
    background-size: 15px;
  }

  @include hover {
    transform: scale(0.9);
  }
}

.btn-rutube {
  padding-right: 5px!important;

  @include after {
    background-image: url(../img/svg/ic-rutube.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: $colorWhite;
    position: relative;

    @include responsive1199{
      width: 31px;
      height: 31px;
    }
    @include responsive767{
      width: 21px;
      height: 21px;
    }
    @include responsive639{
      width: 41px;
      height: 41px;
    }
  }
}

.btn-hh {
  padding-right: 5px!important;
  padding-left: 29px;
  background-color: #DF0016;
  font-size: 19px;
  height: 52px;
  padding-bottom: 0;
  @include responsive1199{
    height: 45px;
    font-size: 15px;
    padding-left: 25px;
  }
  @include responsive767{
    height: 32px;
    font-size: 11px;
    padding-left: 18px;
  }
  @include responsive639{
    height: 50px;
    font-size: 19px;
    width: 100%;
  }
  @include after {
    background-image: url('../img/svg/ic-hh.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-size: contain;

    @include responsive1199{
      width: 31px;
      height: 31px;
    }
    @include responsive767{
      width: 21px;
      height: 21px;
    }
    @include responsive639{
      width: 41px;
      height: 41px;
    }
  }
}