.modal {
  font-family: $fontMain;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: $colorBlack;
}

.modal.is-open {
  display: flex;
  position: fixed;
  z-index: 20;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 50px 0;
  max-width: 1050px;
  position: relative;
  margin: auto;

  @include responsive1199 {
    max-width: 730px;
  }

  @include responsive767 {
    max-width: calc(100% - 20px);
  }
}

.modal__content {
  padding: 0;
  margin: 0;
  position: relative;
}

.modal__inner {
  position: relative;
}

.modal__close {
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  right: -40px;
  top: -30px;
  display: flex;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.6226 22H17.589L10.7863 12.991L3.98357 22H0.919286L8.85579 11.3976L0.919286 0.549999H3.98357L10.7863 9.83479L17.589 0.549999H20.6226L12.6861 11.3976L20.6226 22Z' fill='black'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  filter: invert(1);

  @include responsive767 {
    width: 20px;
    height: 20px;
    right: 20px;
  }

  svg {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.75;
  }
}

.modal__content {
  border-radius: 9px;

  .scroll {
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
      margin-right: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $colorBlack;
      border-radius: 10px;
    }
  }
}

.modal__overlay {
  background-color: $colorBlack-a7;
  backdrop-filter: blur(5px);
  transition: all 0.3s;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}
