.leisure {
  padding-top: 0;
  margin-bottom: 79px;
  padding-bottom: 0;
  position: relative;
  @include before {
    content: "";
    background-image: url('./../img/svg/lines.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 1135px;
    height: 456px;
    // z-index: -1;
    pointer-events: none;
    left: -468px;
    bottom: 0;
  }
  @include responsive767{
    margin-top: -30px;
  }
  @include responsive639{
    margin-top: 10px;
  }
  .container {
    position: relative;
    //@include responsive639{
    //  padding-bottom: 80px;
    //}
  }
  &-slider {
    overflow: visible;
    position: static;
    margin-top: 45px;
    @include responsive767{
      margin-top: 25px;
    }
    @include responsive639{
      margin-top: 30px;
    }
    .swiper {
      &-wrapper {
        align-items: stretch;
      }
      &-slide {
        height: initial;
        transition: all 0.3s;
        overflow: hidden;
        @include radius;
        background-color: white;
        opacity: .33;
        display: flex;
        flex-direction: column;
        &-prev {
          opacity: 0;
        }
        &-active, &-next, &-next + .swiper-slide {
          opacity: 1;
        }
        .caption{
          @include responsive1199{
            font-size: 25px;
            line-height: 30px;
          }
          @include responsive767{
            font-size: 16px;
            line-height: 21px;
          }
          @include responsive639{
            font-size: 23px;
            line-height: 28px;
          }
        }
      }

    }
    .picture-block {
      width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 40px;
      flex: none;
      @include radius;
      @include before {
        content: '';
        position: relative;
        display: block;
        width: 100%;
        padding-top: 85.42%;
      }
    }
    .text-block {
      flex: 1;
      box-sizing: border-box;
      width: 100%;
      padding: 26px 36px 42px;
      line-height: 42px;
      text-transform: uppercase;
      @include responsive767{
        padding: 13px 30px 20px 17px;
      }
      @include responsive639{
        padding: 17px 40px 27px 24px;
      }
    }
  }
  &__wrapper {
    padding-top: 97px;
    padding-bottom: 121px;
    background-color: #f8f8f8;
    overflow: hidden;
    @include bigradius;
    @include responsive1199{
      padding-top: 47px;
      padding-bottom: 51px;
    }
    @include responsive767{
      padding-top: 36px;
      padding-bottom: 41px;
    }
    @include responsive639{
      padding-top: 46px;
    }
  }

  .swiper-controls {
    // position: absolute;
    position: relative;
    //right: 0;
    gap: 16px;

    //@include responsive1549 {
    //  top: 20px;
    //  right: 20px;
    //}
    //
    //@include responsive1199 {
    //  top: 10px;
    //  right: 20px;
    //}
    //
    @include responsive767 {
      gap: 10px;
    }
    @include responsive639{
      //position: absolute;
      //bottom: 4px;
      //left: 50%;
      //transform: translateX(-50%);
      display: none;
    }
  }

  .swiperBtnPrev {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

    @include responsive1199{
      width: 45px;
      height: 45px;
      min-width: 45px;
    }
    @include responsive767 {
      width: 29px;
      height: 29px;
      min-width: 29px;
      background-size: 6px;
    }
    @include responsive639{
      width: 49px;
      height: 49px;
      min-width: 49px;
      background-size: unset;
    }
  }

  .swiperBtnNext {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    @include responsive1199{
      width: 45px;
      height: 45px;
      min-width: 45px;
    }
    @include responsive767 {
      width: 29px;
      height: 29px;
      min-width: 29px;
      background-size: 6px;
    }
    @include responsive639{
      width: 49px;
      height: 49px;
      min-width: 49px;
      background-size: unset;
    }
  }
}