.full-pic{
  background-color: $land;
  border-radius: 0 0 60px 60px;
  padding: 0;
  overflow: hidden;
  &__slider{
    overflow: visible;
    .full-pic{
      &__left{
        padding-bottom: 136px;
      }
      &__name{
        display: flex;
        align-items: center;
        gap: 13px;
        max-width: 100%;
        padding-bottom: 64px;
        position: relative;
        &:before{
          content: '';
          height: 6px;
          background: linear-gradient(90deg, #FFFFFF 0%, #293046 100%);
          right: 119px;
          position: absolute;
          bottom: 0;
          width: calc(50vw - 119px);
        }
      }
      &__bot{
        margin-top: 102px;
      }
    }
  }
  &__controls{
    display: flex;
    gap: 25px;
    position: absolute;
    left: 0;
    bottom: 66px;
    .swiperBtn{
      position: relative;
      left: unset;
      right: unset;
      top: unset;
      transform: translateY(0);
    }
  }
  &__wrapper{
    display: flex;
    gap: 62px;
    &.swiper-slide{
      opacity: 0;
      &.swiper-slide-active{
        opacity: 1;
      }
    }
  }
  &__left{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 113px;
    padding-bottom: 127px;
    color: $colorWhite;
    max-width: 600px;
  }
  &__title{
    color: $colorWhite;
  }
  &__name{
    font-family: Involve;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    letter-spacing: 0;
    text-transform: uppercase;
    max-width: 487px;
  }
  &__text{
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
  }
  &__right{
    margin-right: calc((100vw - 1500px) / -2 );
    height: 847px;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__bot{
    margin-top: auto;
  }
  @media(max-width: 1549px){
    &__right{
      margin-right: calc((100vw - 1170px) / -2 );
    }
  }
  @media(max-width: 1200px){
    &__right{
      margin-right: -30px;
    }
    &__wrapper{
      gap: 30px;
    }
    &__slider{
      .full-pic__name{
        &:before{
          width: 50vw;
        }
      }
    }

  }
  @media(max-width: 767px){
    border-radius: 0 0 25px 25px;
    padding: 40px 0 26px;
    &__wrapper{
      flex-direction: column;
      gap: 20px;
    }
    &__right{
      order: 0;
      height: 267px;
      border-radius: 25px;
      overflow: hidden;
      margin-right: 0;
    }
    &__title{
      order: -1;
    }
    &__left{
      order: 1;
      max-width: 100%;
    }
    &__text{
      margin-top: 0;
    }
    &__controls{
      bottom: unset;
      gap: 7px;
      justify-content: center;
      top: 356px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    &__slider{
      position: relative;
      .full-pic{
        &__bot{
          margin-top: 0;
        }
        &__name{
          font-size: 25px;
          line-height: 28px;
          padding-bottom: 15px;
          svg{
            width: 50px;
            height: 50px;
          }
          &::before{
            height: 4px;
            right: 30px;
            width: calc(100vw - 30px);
          }
        }
        &__text{
          margin-top: 25px;
        }
        &__left{
          padding-bottom: 0;
          padding-top: 75px;
        }
      }
    }
    &__name{
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 20px;
    }
    &__left{
      padding-top: 6px;
      padding-bottom: 0;
    }
  }
}