.more-form{
  background-color: $land;
  border-radius: 60px 60px 0 0;
  padding: 0;
  .consul-section__form{
    padding: 157px 0 75px;
    background-color: transparent;
    color: $colorWhite;
    .landing-title{
      color: $colorWhite;
    }
  }
}