.picture-slider{
  margin-top: 45px;
  overflow: visible;
  @media(min-width: 768px){
    .next.swiperBtnNext--dark,.prev.swiperBtnPrev--dark{
      border: none;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
    }
  }
  @media(max-width: 767px){
    margin-top: 17px;
    .next.swiperBtnNext--dark,.prev.swiperBtnPrev--dark{
      width: 49px;
      height: 49px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      svg{
        display: none;
      }
    }
    .hand{
      display: none;
    }
  }
}
.picture-slide{
  width: 100%;
  border-radius: 60px;
  overflow: hidden;
  height: 555px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info{
    background-color: $colorWhite;
    min-height: 109px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 12px 37px;
    font-family: Cygre;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    letter-spacing: 0;
    text-transform: uppercase;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 17px;
  }
  @media(max-width: 767px){
    border-radius: 25px;
    position: relative;
    height: 288px;
    &:not(.swiper-slide){
      height: 400px;

    }
    &__info{
      font-size: 23px;
      line-height: 26px;
      min-height: 74px;
      text-align: center;
      justify-content: center;
      padding: 11px 16px;
      left: 0;
      right: 0;
      top: 0;
      border-radius: 25px;
    }
    &+.picture-slide:not(.swiper-slide){
      margin-top: 15px;
    }
  }
}
.next,.prev{
  cursor: pointer;
}
.hand {
  animation: tooltip-hand 2s infinite
}
.slider-controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
  @media(max-width: 767px){
    gap: 7px;
    margin-top: 24px;
  }
}
@keyframes tooltip-hand {
  0% {
    transform: translateX(15px) scale(1);
    opacity: 0
  }

  10% {
    transform: translateX(15px) scale(1);
    opacity: 1
  }

  20%,
  60% {
    transform: translateX(15px) scale(1);
    opacity: 1
  }

  80% {
    transform: translateX(-15px) scale(1);
    opacity: 1
  }

  to {
    transform: translateX(-15px) scale(1);
    opacity: 0
  }
}

.landing-leisure{
  position: relative;
  border-radius: 60px 60px 0 0;
  padding: 58px 0 55px;
  &:before{
    content: "";
    position: absolute;
    transition: all 0.3s;
    content: "";
    background-image: url(./../img/svg/lines.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 1135px;
    height: 456px;
    pointer-events: none;
    left: -468px;
    bottom: 0;
  }
  .landing-text{
    margin-top: 41px;
    color: #5D5D5D;
  }
  @media(max-width: 767px){
    border-radius: 30px;
    padding-top: 26px;
    padding-bottom: 88px;
    .pictures{
      margin-top: 28px;
    }
    &--padding-big{
      padding-top: 43px;
      padding-bottom: 32px;
    }
    .landing-text{
      margin-top: 14px;
    }
  }
}