.special{
  padding-top: 80px;
  padding-bottom: 171px;
  position: relative;
  border-radius:60px;
  margin-top: 68px;
  &:before{
    content: "";
    position: absolute;
    transition: all 0.3s;
    background-image: url(./../img/svg/lines.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 1135px;
    height: 456px;
    pointer-events: none;
    right: -468px;
    top: 30px;
  }
  .vector{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 271px;
    width: 100vw;
  }
  &-slider{
    overflow: visible;
    margin-top: 80px;
  }
  &-slide{
    padding: 15px 22px 50px;
    background-color: $colorWhite;
    border-radius: 60px;
    &__img{
      border-radius: 60px;
      overflow: hidden;
      height: 342px;
      img{
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    &__text{
      font-family: Involve;
      font-weight: 400;
      font-size: 25px;
      line-height: 33px;
      letter-spacing: 0;
      text-transform: uppercase;
      margin-top: 25px;
    }
    &.swiper-slide{
      transform: rotate(15deg) translate(0px, 90px);
      transition: 1s transform;
      opacity: 0;
    }
    &.swiper-slide-next{
      transform: rotate(0);
      opacity: 1;
    }
    &.swiper-slide-active{
      transform: rotate(-15deg) translate(0px, 90px);
      opacity: 1;
    }
    &.swiper-slide-next+.swiper-slide{
      opacity: 1;
    }
  }
  @media(max-width: 1200px){
    &-slide{
      padding: 22px;
      &.swiper-slide-active,
      &.swiper-slide{
        transform: rotate(0) translate(0,0);
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 342px;
      }
      &__text{
        br{
          display: none;
        }
      }
    }
  }
  @media(max-width: 767px){
    margin-top: 42px;
    padding-top: 23px;
    padding-bottom: 21px;
    border-radius: 30px 30px 0 0;
    &-slider{
      margin-top: 20px;
      padding-bottom: 79px;
      padding-inline: 20px;
    }
    &-slide{
      padding: 10px 15px 35px;
      border-radius: 41px;
      &__img{
        border-radius: 41px;
        height: 234px;
      }
      &__text{
        margin-top: 17px;
        font-size: 17px;
        line-height: 22px;
        padding-inline: 15px;
      }
    }
  }
  @media(max-width: 500px){
    &:before{
      right: -658px;
      top: -50px;
      scale: .5;
    }
  }
}