.technologia{
  background-color: $land;
  border-radius: 60px;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  &.forest{
    background-color: $forest;
  }
  .roof-left{
    left: 0;
    top: -120px;
  }
  .roof-right{
    right: 0;
    top: 30px;
  }
  .consul-section__form{
    border-radius: 0;
    background-color: transparent;
    color: $colorWhite;
    padding: 137px 0 74px;
    backdrop-filter: none;
    .landing-title{
      text-align: left;
      color: $colorWhite;
      margin-left: 0;
    }
  }
  &-controls{
    display: flex;
    gap: 25px;
    position: absolute;
    bottom: 37px;
    right: 0;
    .swiperBtn{
      position: relative;
      left: unset;
      right: unset;
      top: unset;
      transform: translateY(0);
    }
  }
  &__block{
    min-height: 849px;
    background-image: url('./../img/land/tech.png');
    background-position: left;
    background-size: cover;
    padding-top: 73px;
    display: flex;
    flex-direction: column;
    .container{
      flex-grow: 1;
    }
  }
  &.forest{
    .technologia__block{
      background-image: url('./../img/land/tech-forest.png');
    }
  }
  .landing-title{
    max-width: 530px;
    text-align: right;
    margin-left: auto;
  }
  &-slider{
    max-width: 567px;
    margin-left: auto;
    margin-right: 0;
    overflow: visible;
    margin-top: 126px;
    position: relative;
  }
  &-slide{
    padding: 32px 70px 32px 34px;
    border-radius: 40px;
    backdrop-filter: blur(20px);
    min-height: 340px;
    color: $colorWhite;
    background: #00000059;
    &__name{
      font-family: Involve;
      font-weight: 400;
      font-size: 39px;
      line-height: 42px;
      letter-spacing: 0;
      text-transform: uppercase;
    }
    &__text{
      font-family: Involve;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      margin-top: 40px;
      max-width: 336px;
    }
    &.swiper-slide{
      opacity: 0;
      transition: .5s;
    }
    &.swiper-slide-next{
      transform: rotate(15deg) translate(50px, 50px);
    }
    &.swiper-slide-next,
    &.swiper-slide-active{
      opacity: 1;
    }
  }
  @media(max-width: 1200px){
    .consul-section__form{
      padding-top: 70px;
    }
    &-controls{
      right: 80px;
    }
  }
  @media(max-width: 767px){
    border-radius: 25px;
    .roof-left{
      display: none;
    }
    .roof-right{
      width: 200px;
      height: 200px;
      bottom: 0;
    }
    .consul-section__form{
      padding-top: 44px;
      padding-bottom: 61px;
    }
    .landing-title{
      margin-left: 0;
      text-align: left;
      color: white;
      margin-bottom: 19px;
    }
    &__block{
      background-image: url('./../img/land/tech-mob.png');
      min-height: 556px;
      padding-top: 203px;
    }
    &-slider{
      margin-top: 0;
    }
    &-slide{
      min-height: 270px;
      padding: 25px 55px 25px 25px;
      border-radius: 32px;
      &__name{
        font-size: 31px;
        line-height: 33px;
      }
      &__text{
        font-size: 13px;
        line-height: 16px;
        margin-top: 32px;
      }
      &.swiper-slide-next{
        transform: rotate(0) translate(0, 0);
      }
    }
    &-controls{
      display: none;
    }
    .slider-nav{
      margin-top: 24px;
    }
    &.forest{
      .technologia__block{
        background-image: url('./../img/land/tech-forest-mob.png');
        padding-top: 14px;
        .technologia-slider{
          margin-top: 142px;
        }
      }
    }
  }
  @media(max-width: 500px){
    .roof-right{
      width: 200px;
      height: 200px;
      background-size: contain;
      bottom: 172px;
    }
  }
}