.ways{
  background-color: $colorGrayLight;
  border-radius: 60px;
  padding-top: 215px;
  padding-bottom: 125px;
  margin-top: -135px;
  position: relative;
  z-index: 2;
  &__wrapper{
    display: flex;
    align-items: center;
    gap: 0;
    margin-top: 0;
  }
  .landing{
    &-text{
      color: $colorGray;
      margin-top: 23px;
    }
  }
  &__left{
    width: 100%;
    max-width: 685px;
    border: 1px solid ;
    border-radius: 50px;
    background-color: $colorWhite;
    padding: 36px 93px 58px;

  }
  @media(max-width: 1549px){
    &__right{
      flex-shrink: 0;
    }
    &__left{
      min-width: 420px;
      padding: 20px;
    }
  }
  @media(max-width: 1200px){
    padding-bottom: 24px;
    border-radius: 0;
    &__wrapper{
      flex-direction: column;
    }
    &__right{
      order: -1;
    }
    &__left{
      padding: 28px 27px;
      min-width: unset;
    }
  }
  @media(max-width: 767px){
    &__left{
      border-radius: 40px;
    }
  }
  @media(max-width: 420px){
    &__right{
      img{
        scale: 1.5;
      }

      padding-top: 70px;
    }
    &__left{
      background-color: $colorWhite;
      z-index: 2;
    }
  }
}
.way-block{
  &+.way-block{
    margin-top: 35px;
  }
  &__top{
    font-family: Cygre;
    font-weight: 400;
    font-size: 103.26px;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
    span{
      font-family: Cygre;
      font-weight: 400;
      font-size: 51.63px;
      line-height: 1;
      letter-spacing: 0;
    }
    &+p{
      font-family: Cygre;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      color: $colorGray;
    }
  }
  @media(max-width: 767px){
    &__top{
      font-size: 81px;
      span{
        font-size: 40px;
      }
      &+p{

      }
    }
    &+.way-block{
      margin-top: 27px;
    }
  }
}