.projects {
  padding-top: 0;
  padding-bottom: 0;
}
.projects .container {
  position: relative;
}
.projects-section__head {
  margin-bottom: 36px;
}
.projects-section__head p {
  max-width: calc(100% / 12 * 7.5 + 20px);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #8e8e8e;
  margin-top: 31px;
  margin-bottom: 30px;
}
.projects__wrapper {
  padding: 81px 0 70px;
  overflow: hidden;
  border-radius: 60px;
  background-color: #F8F8F8;
}